body {
    background-color: #FFFFFF;
    }

h1, h2, h3, h4, h5 {
    color: #332D29;
}

.btn, .btn-block, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #487CB5 !important;
    border-color: #487CB5 !important;
    -webkit-appearance: none !important;
}

textarea#message {
    min-height: 200px;
}

.help-block {
    color: red;
}

#test-form-row-two-left{
    min-height: 150px;
    max-height: 500px;
    oveflow: scroll;
}

#test-form-row-two-right{
    padding-top: 120px;
}

#button-end-test-container{
    margin-top: 50px;
}

#submit_feedback{
    color: #007bff;
}

ul {
    list-style-type: none;
}

#activities {
    overflow-y: scroll;
    height: 200px;
}

.small_font {
    font-size: 0.7em;
}

.rotate {
    transform: rotate(315deg);
}

.table td {
    text-align: center;
    padding-top: 1px;
    height: 45px;
}

.table td textarea{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2px;
}

.table td input{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

#feature_name {
    width: 200px;
}

.table-description {
    width: 150px;
    height: 28px;
}

.form-group {
    margin: 0px;
}

.logo img {
    max-width: 400px;
    max-height: 203px;
}

.delete {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    font-weight: bold;
}

.hard-left {
  position:absolute;
  *position: relative; /*ie7*/
  left:0;
  width:150px;
}

.hard-left input {
    margin-top: 3px !important;
}

.next-left {
  position:absolute;
  *position: relative; /*ie7*/
  left:150px;
  width:100px;
}

.next-left input {
    margin-top: 3px !important;
}

.next-next-left {
  position:absolute;
  *position: relative; /*ie7*/
  left:250px;
  width:150px;
}

.outer {
    position:relative
}

.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 710px;
  margin-left: 400px;
}

.submit-button{
    margin-top: 25px;
}

table td .help-block {
    font-size: 9px;
}