body {
    background-color: #EAF0F6;
    }

h1, h2, h3, h4, h5 {
    color: #332D29;
}

.btn, .btn-block, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #487CB5 !important;
    border-color: #487CB5 !important;
    -webkit-appearance: none !important;
}

textarea#message {
    min-height: 200px;
}

.help-block {
    color: red;
}

#test-form-row-two-left{
    min-height: 150px;
    max-height: 500px;
    oveflow: scroll;
}

#test-form-row-two-right{
    padding-top: 50px;
}

#button-end-test-container{
    margin-top: 50px;
}

#submit_feedback{
    color: #007bff;
}