{% extends "layout.html" %}
{% block title %} Final questions {% endblock %}
{% block content %}
<div id="after-title-container" class="row">
    <div id="after-title" class="col-lg-10 col-md-offset-1">
        <h4>Last few questions</h4>
    </div>
</div>
<div id="after-body-container" class="row">
    <div class="col"></div>
    <div id="after-body" class="col-lg-10 col-md-offset-1">
        <br>
        <p>
            Please anwer the last few questions in the Google Form:
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeHWNBdnmcQmziWs0Nuc9Zdbx2mV85ynIifZLhQI809vjTOTw/viewform?embedded=true" height="800px" class="col-lg-12" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
