{% extends "layout.html" %}
{% block title %} Final questions {% endblock %}
{% block content %}
<div id="after-title-container" class="row">
    <div id="after-title" class="col-lg-10 col-md-offset-1">
        <h4>Last few questions</h4>
    </div>
</div>
<div id="after-body-container" class="row">
    <div class="col"></div>
    <div id="after-body" class="col-lg-10 col-md-offset-1">
        <br>
        <p>
            Please follow this link to anwer the last few questions:
            <a href="https://www.google-form.com">https://www.google-form.com</a>
        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
