{% extends "layout.html" %}
{% block title %} A few remarks {% endblock %}
{% block content %}
<div id="remarks-title-container" class="row">
    <div id="remarks-title" class="col-lg-10 col-md-offset-1">
        <h4>A few remarks before the experiment...</h4>
    </div>
</div>
<div id="remarks-body-container" class="row">
    <div id="remarks-body" class="col-lg-12 col-md-offset-1">
        <br>
        <p>We kindly ask you to answer a few questions regarding your app ''{{ appname }}''.</p>
        <p>First, in the next page, you will be asked to map the <b>features</b> of your app with the Android activities that implement them.</p>
        <p>With the term feature we identify <i>one user-level app’s functionality that realizes a functional requirement of the app from the point of view of the end user</i>.</p>
        <p>A few examples:</p>
        <ul>
            <li>&#8226; showing the list of restaurants nearby;</li>
            <li>&#8226; sending a message to a friend;</li>
            <li>&#8226; creating a new post in a social networking app;</li>
        </ul>
        <p>
        Afterwards, you will be asked to answer a few questions contained in a Google Form.
        The duration of the whole experiment is no more than 5-10 minutes.
        <p>
        Your participation in this research is anonymous. Responses collected will be handled with care and confidentiality; no information will be recorded that can be traced back to individuals. Should you choose to receive the final research report, we will e-mail you the research report when all the collected data will be analysed.
        </p>
        <p>
        More information about our research project can be found in our paper <a target="_blank" href="{{url_for('static', filename='ICSE-POSTERS_2017.pdf')}}">User-centric Android flexible permissions</a>.
        </p>
        <p>
        We thank you for your cooperation.
        </p>
        <p>
        <i><a target="_blank" href="mailto:gianluca.scoccia@gssi.it">Gian Luca Scoccia</a>, Ivano Malavolta, Marco Autili, Amleto Di Salle, Paola Inverardi.</i>
        </p>
    </div>
</div>
<div id="button-start-container" class="row">
    <a type="button" class="btn btn-primary btn-block" href="/test/{{appname}}">Start test</a>
</div>
{% endblock %}
