{% extends "layout.html" %}
{% block title %} Android fine-grained permissions {% endblock %}
{% block content %}
<div id="completed-title-container" class="row">
<div class="col"></div>
    <div id="completed-title" class="col-lg-10 col-md-offset-1">
        <h4>Completed!</h4>
    </div>
<div class="col"></div>
</div>
<div id="completed-body-container" class="row">
<div class="col"></div>
    <div id="completed-body" class="col-lg-10 col-md-offset-1">
        <br>
        <p>
        Everything done! Thank you!
        </p>
    </div>
<div class="col"></div>
</div>
{% endblock %}
