<!doctype html>
<html lang="en">
  <head>
    <title>AFP - {% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  type= "text/css" href= "{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet"  type= "text/css" href= "{{url_for('static',filename='css/main.css')}}">

    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!--<script src="{{url_for('static', filename='js/confirm.js')}}"></script>-->
    {% block additionalscripts %}{% endblock %}
  </head>
  <body>
    <header class="container my-3">
      <div class="row">
        <div class="logo col-lg-4">
          <img src="{{url_for('static', filename='img/logo-gssi-new.png')}}">
        </div>
        <div class="logo col-lg-4">
          <img src="{{url_for('static', filename='img/logo-univaq.png')}}">
        </div>
        <div class="logo col-lg-4">
          <img src="{{url_for('static', filename='img/logo-vu.png')}}">
        </div>
      </div>
    </header>
    <div id="content" class="container my-3">
      {% block content %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div id="footer">
    </div>
  </body>
</html>