{% extends "layout.html" %}
{% block title %} Android fine-grained permissions {% endblock %}
{% block content %}
<div id="message-title-container" class="row">
<div class="col"></div>
    <div id="message-title" class="col-lg-10 col-md-offset-1">
        <h4>Thank you {{ name }}!</h4>
    </div>
<div class="col"></div>
</div>
<div id="message-body-container" class="row">
<div class="col"></div>
    <div id="message-body" class="col-lg-10 col-md-offset-1">
        <br>
        <p>
        We'll get back to you as soon as possible.
        </p>
    </div>
<div class="col"></div>
</div>
{% endblock %}
