{% extends "layout.html" %}
{% block title %} A few remarks {% endblock %}
{% block content %}
<div id="test-title-container" class="row">
    <div id="test-title" class="col-lg-10 col-md-offset-1">
        <h4>Test phase</h4>
    </div>
</div>
<div id="test-body-container" class="row">
    <div id="test-body" class="col-lg-12">
        <br>
        <p>
        Please define the features-activities mapping for app ''{{ appname }}''.
        </p>
        {% if submitted_feature %}
        <p id="submit_feedback">
            Mapping for feature ''{{ submitted_feature }}'' saved!
        </p>
        {% endif %}

        {% from "_formhelper.html" import render_field %}
        <form method=post>
            <dl>
                <div id="test-form-row-one" class="row">
                    <div id="test-form-row-one-left" class="col-lg-6">
                        {{ render_field(form.feature_name) }}
                    </div>
                    <div id="test-form-row-one-right" class="col-lg-6">
                        {{ render_field(form.feature_description) }}
                    </div>
                </div>
                <div id="test-form-row-two" class="row">
                    <div id="test-form-row-two-left" class="col-lg-6">
                        {{ render_field(form.activities) }}
                    </div>
                    <div id="test-form-row-two-right" class="col-lg-6">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </div>
                </div>
            </dl>
        </form>
    </div>
</div>
<div id="button-end-test-container" class="row">
    <a type="button" class="confirm btn btn-primary btn-block" href="/after-test/{{appname}}">Finish test</a>
</div>
{% endblock %}
