{% extends "layout.html" %}
{% block title %} Mapping {% endblock %}
{% block additionalscripts %}
    <script src="{{url_for('static', filename='js/confirm.js')}}"></script>
    <script src="{{url_for('static', filename='js/submit.js')}}"></script>
    <script src="{{url_for('static', filename='js/tablecell.js')}}"></script>
{% endblock %}
{% block content %}
<div id="test-title-container" class="row">
    <div id="test-title" class="col-lg-10 col-md-offset-1">
        <h4>Feature to Android activity mapping</h4>
    </div>
</div>
<div id="test-body-container" class="row">
    <div id="test-body" class="col-lg-12">
        <input type="hidden" value="{{appname}}" id="appname">
        <br>
        <p>
        Please perform the following steps:
        </p>
        <ol>
            <li>Add a row for each feature of your app "test".</li>
            <li>For each added feature, specify which Android activities are implementing it.</li>
        </ol>
        </br>
        {% from "_formhelper.html" import render_field %}
        {% from "_formhelper.html" import render_table_field %}

                <form method=post id="mapping-form">
                    <div class="outer">
            <div class="inner">
                    <table class="table table-sm table-condensed">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center hard-left small_font">&nbsp;</th>
                                <th scope="col" class="text-center next-left small_font">Feature Name</th>
                                {% for activity in activities %}
                                    <th scope="col" class="text-center small_font">{{ activity[0] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for feature in features_list %}
                                <tr>
                                    <td class="hard-left"><input type="submit" value="X" class="btn btn-danger btn-sm confirm delete" data-action="del_{{feature}}"></td>
                                    <td class="next-left">{{ render_field(form['feature_name_' ~ feature], label_visible=False) }}</td>
                                    {{ render_table_field(form['feature_activity_' ~ feature], feature, label_visible=False) }}
                                </tr>
                            {% endfor %}
                            <td></td>
                            <td class="hard-left"></td>
                            <td class="next-left">
                                <input type="submit" value="Add new row" class="btn btn-primary btn-block submit" data-action="add">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" value="{{features_list}}" name="features">

            </div>
                    <input id="submitButton" type="submit" value="Submit" class="btn btn-primary btn-block confirm submit-button" data-action="submit">
        </div>
                </form>
    </div>
</div>
{% endblock %}